<!-- <div class="footer">
  <h3><strong> Notes Application</strong></h3>
</div>

<style>
.footer {
   position: absolute;
   left: 0;
   bottom: 0;
   height: 10%;
   width: 100%;
   background-color: #a8a88e;
   color: #aa3434;
   text-align: center;
}
</style> -->
